/*Schrijf hier jouw CSS*/
.opdracht-1 ul{
    display: flex;
    justify-content: space-between;
}

.opdracht-2 ul{
    display: flex;
    justify-content: center;
}

.opdracht-2 li{
    flex-basis: 100px;
    flex-grow: 1;
}
