/*Schrijf hier jouw CSS*/

/* O P D R A C H T  1 */
.opdracht-1 ul{
    display: flex;
    flex-direction: row; /*default, not required, just to be clear*/
    justify-content: space-between;
}

/* E I N D E  O P D R A C H T  1 */

/* O P D R A C H T  2 */

.opdracht-2 ul{
    display: flex;
    flex-direction: row; /*default, not required, just to be clear*/
}

.opdracht-2 li{
    flex-basis: 100px;
    flex-grow: 1;
}

/* E I N D E  O P D R A C H T  2 */

/* O P D R A C H T  3 */

.opdracht-3 ul{
    display: flex;
    flex-direction: column;
}

.opdracht-3 li:first-child{ /*first-child not required as the others would overwrote default li*/
    align-self: flex-start; /*default, not required, just to be clear*/
}

.opdracht-3 li:nth-child(2){
    align-self: center;
}

.opdracht-3 li:last-child{ /*could also be 3rd child*/
    align-self: flex-end;
}

/* E I N D E  O P D R A C H T  3 */

/* O P D R A C H T  4 */

.opdracht-4 ul{
    display: flex;
    flex-direction: row; /*default, not required, just to be clear*/
    flex-wrap: wrap;
}

.opdracht-4 li{
    flex-grow: 1;
}

/* E I N D E  O P D R A C H T  4 */

/* O P D R A C H T  5 */

.opdracht-5{
    display: flex;
    flex-direction: column;
}

.opdracht-5 div{
    display: flex;
    flex-direction: row; /*default, not required, just to be clear*/
    justify-content: space-between;
    flex-grow: 1;
}

.opdracht-5 ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.opdracht-5 ul:first-child{  /*first-child not required as the others would overwrote default li*/
    align-items: flex-start; /*default, not required, just to be clear*/
}

.opdracht-5 ul:nth-child(2){
    align-items: center;
}

.opdracht-5 ul:last-child{
    align-items: flex-end;
}

/* E I N D E  O P D R A C H T  5 */